body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 48px;
    background: #344051;
    position: fixed;
    z-index: 1;
}

.logo{
    color: #fff;
    font-size: 24px;
    line-height: 48px;
    padding-left: 304px;
    float: left;
    animation: coming 2s ease;
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
}

.menu{
    float: left;
    padding-left: 343px; 
}

.menu li{
    float: left;
    line-height: 48px;
    color: #fff;
    margin-right: 29px;
    font-size: 13px;
    text-transform: uppercase;
    animation: topshift 0.4s ease forwards;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #ef8800;

}

.menu li a:active{
    transform: scale(1.1);
}



#section1{
    width: 100%;
    height: 840px;
    background:url(../img/section1man.png) 90% 100% no-repeat, url(../img/section1backround.png); 
    padding: 340px 0 0 0;
}

#section1content{
    width: 438px;
    color: #233038;
    text-align: center;
    margin-left: 315px;
    animation: titlemove 1s;
}

#section1content input{
    transition: all 0.2s;
    transform: scale(1);

}

#section1content input:hover{
    background-color: #344051;
    color: white;
}

#section1content input:active{
    transform: scale(1.1);
}





@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }

    to{
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }

    to{
        opacity: 1;
        margin-left: 315px;
    }
}





.menu li:nth-child(2){
    animation-delay: 0.2s;
}

.menu li:nth-child(3){
    animation-delay: 0.4s;
}

.menu li:nth-child(4){
    animation-delay: 0.6s;
}

.menu li:nth-child(5){
    animation-delay: 0.8s;
}

.menu li:nth-child(6){
    animation-delay: 1s;
}



h1{
    font-size: 45px;
    font-weight: bold;
}

h4{
    margin-top: 30px;
    font-size: 15px;
}

.btn{
    margin: 45px 12px 0px 12px; 
    font-size: 15px;
    border: 2px solid #233038;
    border-radius: 5px;
    padding: 11px 11px;
    background: none;
}

#section2{
    height: 564px;
    text-align: center;
    box-sizing: border-box;
    color: #1c293c;
}

#section2content{
    width: 577px;
    margin: 85px auto 0 auto;
    color: #1d2b33;
    animation: moving 2s ease;
}

@keyframes moving{
    0%{
        transform: translate(-500px);
    }
    100%{
        transform: translate(0px);
    }
}







.hrorange{
    height: 4px;
    width: 56px;
    margin: auto;
    background-color: #f86716;
    
}

#section2hr{
    margin: 24px auto 47px auto;
}

h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    animation: coming 1s;
}

.section2text{
    text-align: start;
    margin-top: 17px;
}

#section2btn{
    margin-top: 30px;
    background: none;
    border: 2px solid #1d2b33;
    padding: 9px 8px 9px 25px;
    border-radius: 5px;
    background-image: url(../img/downloadbutton.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    transform: scale(1);
    transition: all 0.1s;

}

#section2btn:hover{
    background-color: #344051;
    color: white;
}

#section2btn:active{
    transform: scale(1.1);
}








#section3{
    width: 100%;
    min-height: 413px;
    background-image: url(../img/section3background.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 83px;
    color: #1c293c;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section3hr{
    margin: 23px auto 79px auto;
}

.section3container{
    margin: auto;
    width: 924px;
}
.section3item{
    width: 170px;
    float: left;
    margin-left: 80px;
}

.section3item:nth-child(1){
    margin-left: 0px;
}
.icon{
    height: 30px;
}

.section3h4{
    font-weight: bold;
    color: #f66616;
    margin-bottom: 15px;
}

#section4{
    padding: 81px 0 117px 0;
    background-color: #fafbfb;
    color: #1c293c;
}

.section4h2{
    text-align: center;
}

#section4hr{
    margin: 24px auto 39px auto;
}

.podtext{
    text-align: center;
}

.imgsection4{
    width: 922px;
    margin: 32px auto 30px auto;
}

.section4column{
    width: 922px;
    margin: 0px auto 39px auto ;
}

#section4column1{
    float: left;
}

.bigtext{
    font-weight: bold;
    margin: 6px 0px;
    font-size: 15px;
}

.smalltext{
    margin: 12px 0px;
}

#section4a{
    border-radius: 3px;
    background-color: #17ae90;
    color: #fff;
    padding: 11px 34px;
    transform: scale(1);
    transition: 0.1s;
    display: block;
}

#section4a:hover{
    background-color: #1b7f6b;
}

#section4a:active{
    transform: scale(1.1);
}




#section4adiv{
    margin-top: 20px;
}

#section4column2{
    width: 677px;
    height: 127px;
    margin-left: 240px
}

#section4h3{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 14px;
}

.section4text{
    height: 100px;
    display: inline;
    line-height: 20px;
}

#section41{
    padding: 120px 0px 120px 0px;
    color: #1c293c;
}

#raschet{
    margin: 0px auto 44px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.lab{
    margin-top: 18px;
    display: block;
    font-weight: bold;
    font-size: 20px
}

.section41select{
    border: none;
    width: 100%;
    height: 45px;
    padding: 10px 17px;
    background-color: #eee;
    font-size: 12px;
    font-weight: 550;
    margin: 0px 0px 19px 0px;
}

.section41select:hover{
    background: rgb(215, 215, 215);
}




#section41content{
    margin: auto;
    width: 720px;
}

.hrtel{
    width: 100%;
    height: 2px;
    background-color: #eee;
    margin: 29px 0px 19px 0px;
}

#section41table{
    font-weight: bold;
}

.space{
    width: 620px;
}

#spacetr{
    height: 20px;
}

.section41price{
    font-size: 25px;
}

#section5{
    width: 100%;
    height: 395px;
    background: url(../img/section5background.jpg);
    background-attachment: fixed;
    padding: 80px 0px;
    text-align: center;
    color: #1c293c;
}

#section5hr{
    margin: 21px auto 63px auto;
}

.section5container{
    width: 950px;
    margin: auto;
}


.section5item{
    float: left;
    margin-left: 110px;
}

.section5item:nth-child(1){
    margin-left: 0px;
}

.number{
    margin: 24px 0px 21px 0px;
    font-size: 30px;
    font-weight: bold;
}

.section5text{
    font-weight: bold;
}

#section6{
    padding: 80px 0px 72px 0px;
}

.section6item{
    width: 600px;
    margin: auto;
    animation: moving 1s ease;
}





#section6hr{
    margin: 26px auto 45px auto;
}

.section6img{
    text-align: center;
    margin-bottom: 27px;
}

.section6text{
    text-align: center;
    margin-bottom: 29px;
}

.bold{
    font-weight: bold;
}

#section7{
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(../img/section7background.jpg);
    background-size: cover;
    padding: 80px 0px 51px 0px;
    color: #fff;
    text-align: center;
}

#section7hr{
    margin: 25px auto 25px auto;
}

.section7container{
    width: 490px;
    height: 60px;
    margin: 37px auto 28px auto;
}

.section7item{
    float: left;
    margin-left: 38px;
}

.section7item:nth-child(1){
    margin-left: 0px;
}

.section7text{
    clear: left;
}

.section7img{
    margin-bottom: 11px;
}

.section7text{
    font-size: 17px;
    margin-bottom: 35px;
    
}


.section7form{
    width: 590px;
    margin: auto;
}

#section7formnaem{
    width: 281px;
    height: 29px;
    padding: 0px 11px;
    background-color: rgb(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 13px;
    transition: all 0.1s;

}

#section7formemail{
    width: 281px;
    height: 29px;
    padding: 0px 11px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 13px;
    transition: all 0.1s;
}

#textarea1{
    width: 587px;
    height: 71px;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 11px 0px 25px 0px;
    padding: 7px 11px;
    resize: none;
    font-weight: bold;
    font-size: 13px;
    transition: all 0.1s;

}

#textarea1:hover{
    background-color:rgb(255, 255, 255, 0.9)
}

#section7formemail:hover{
    background-color: rgb(255, 255, 255, 0.9);
}

#section7formnaem:hover{
    background-color: rgb(255, 255, 255, 0.9);
}



#section7submit{
    width: 104px;
    height: 41px;
    border: 2px solid #fff;
    border-radius: 4px;
    background: none;
    color: #fff;
    font-size: 15px;
    margin-bottom: 60px;
    transform: scale(1);
    transition: 0.1s;
}





#section7submit:hover{
    color: #344051;
    background-color: #fff;
}


#section7submit:active{
    transform: scale(1.1);
}






#social{
    width: 341px;
    margin: auto;
}

#social li{
    float: left;
    margin-left: 37px;
}

#social li:nth-child(1){
    margin-left: 18px;
}

.section_7_social_icon:active{
    transition: all 0.1s;
    transform: scale(1.1);
}






#section8{
    width: 100%;
    height: 279px;
    background: url(../img/I.png) 50% 50% no-repeat, url(../img/im\ here.png) 50% 52% no-repeat, url(../img/map.jpg)
}

footer{
    height: 77px;
    background-color: #354051;
    text-align: center;
    padding: 33px;
    color: #fff;
}

